header,footer,main,section,aside,body,article{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.header-flex{
    display: flex;
}
.video-section{
    display: flex;
    height: 30rem;
}
.options{
    display: flex;
    height: 10rem;
    justify-content: space-between;
    background-color:lightgray;
}
.article-video{
    display: flex;
    height: 15rem;
}
.twiiter{
    background-color: yellow;
    display: flex;
    height: 15rem;
    justify-content: space-between;
}
.monitors{
    display: flex;
    height: 30rem;
    background-color: grey;
    justify-content: center;
}

/* header */
.title-wraper{
    width: auto;
    display: flex;
    height: 2.6rem;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: #194d33;
    align-items: center;
}

.header-image{
    width: 1.4rem;
    height: 100%;
}
.header-image:hover{
    cursor: pointer;
}

.header-title{
    width: auto;
    font-style: italic;
    text-align: center;
    font-size: 99%;
    text-transform: uppercase;
    margin: 0;
    height: 50%;
    padding: 0 0.15rem 0 0;
    background-color: #194d33;
}
.header-title::hover{
    cursor: pointer;
}

.nav-wraper{
    width: 100%;
    display: flex;
    flex-grow: 2;
    height: 2.6rem;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: yellow;
}
.nav-img{
    width: 0.9rem;
    height: 0.9rem;
}
.nav-img:hover{
    cursor: pointer;
}

.nav-links{
    width: auto;
    margin: 0;
    padding: 0 0;
    flex-grow: 1;
    text-transform: uppercase;
   align-self: center;
    font-size: 65%;
    box-sizing: content-box;
}
.nav-links:hover{
    cursor: pointer;
}

/* video-sectiom */

.video-content{
  width: 100%;
  height: auto;
}

/* options */

.opttion-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.option-img{
    width: 3rem;
    height: 3rem;
}

.option-text{
    text-transform: uppercase;
}

/* article-content */
.article-content{
    padding: 0;
    text-align: left;
    margin: 1rem;
    width: 50%;
}
.asideS{
    width: 50%;
    height: auto;
    padding: 1rem;
}
.art-video{
  width: 100%;
  height: 100%;
}


/* twiiter */
.img-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50%;
}
.twiiter-img{
    padding: 1rem;
    max-height: 14rem;
    max-width: 14rem;
   width: 8srem;
   height: 7rem;
}

.commetn-earia{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.comment-layout{
    width:auto;
    padding: 0;
    margin: 0;
    height: 3.5rem;

}
.comment{
  
   text-align: left;
   font-size: 1rem;
}


/*Monitores*/
.mon-title{
    width: auto;
    padding: 1rem 0 0 0;
    margin: 0;
    font-size: x-large;
    color: yellow;
}

/*
footer
*/

.footer-wraper{
    display: flex;
    background-color: rgb(68, 61, 61);
    justify-content:flex-start;
    padding: 0 3rem;
}

     